:root {

	--ig-status-text-color: #002060; /* 1. IG Title and status text color */
    --navbar-bg-color: #0E4194; /* 2. Header container color */
    --footer-bg-color: #ffffff; /* 3. Footer background color*/
    /*--footer-container-bg-color:#015085; /* 4. Footer container color */
    --footer-container-bg-color:#0E4194;
    --stripe-bg-color: #0B316F; /* 5. Header strip color */
   
    --btn-hover-color: #44aabb;  /* 6. Menu button hover color */
    --btn-active-color: #60a0f0; /* 7. Menu button active color */
    --btn-text-color: #f5f5f0; /* 8. Menu button text color */
    --btn-gradient-start-color: #428bca; /* 9. Menu item gradient start color */
    --btn-gradient-end-color: #357ebd; /* 10. Menu item gradient end  color */
    --btn-gradient-start-color-alpha: #ff428bca; /* 11. Menu item gradient start color (with alpha) */
    --btn-gradient-end-color-alpha: #ff357ebd; /* 12. Menu item gradient end color (with alpha) */
    --link-color: #334c99; /* 13. Hyperlink text color */
    --link-hover-color: #492f7a; /* 14. Hyperlink text hover color */

    --publish-box-bg-color: #ffff99; /* 15. Publish box background color */
    --publish-box-border: 1px solid #aaaa00; /* 16.  Publish box border definition */

    --toc-box-bg-color: #ddeeff; /* 17.  TOC box background color */
    --toc-box-border: 1px solid navy; /* 18. TOC box border definition */
  
    --stu-note-background-color: #f2f2ff; /* 19. (STU) Note box background color */
    --stu-note-border-left-color: #a0a0ff; /* 20. (STU) Note box border color */

    --ig-header-color: #ffffff; /* 21. Header color (sides) */
    --ig-header-container-color: #ffffff; /* 22. Header container color (center) */
    --footer-nav-bg-color: #f5f5f5; /* 23. Footer navigation background color*/
    --footer-text-color: #ffffff; /* 24. Footer highlight font color */
    --footer-hyperlink-text-color: #dadacc; /* 25. Footer hyperlinks font color */
    --footer-highlight-text-color: #ffff77; /* 26. Footer highlight font color */
    
	--breadcrumb-bg-color: #e7e7e7  ; /* 27. Breadcrumb background color */
    --breadcrumb-text-color: #000000; /* 28. Breadcrumb font color */
    --dragon-background-color: #ebe7ee; /* 29. Dragon background color */
    --dragon-font-color: #c76139; /* 30. Dragon font color */

	}
	
	.markdown-toc {
		display: none;
	  }



	html, body {
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.5rem;
		overflow: auto;
		-webkit-tap-highlight-color: transparent;
		--focus-outline: 0.125rem solid rgb(59, 153, 252);
	
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
	}
	
	h3 {
		font-size: larger;
	}
	
	h4 {
		font-size: large;
	}
	
	h5 {
		font-size: medium;
	}

	h6 {
		font-size: medium;
	}
	
	body, p,
	li {
	  font-size: 15px;
	  line-height: 1.4em;
	}

	td, tr {
		font-size: 14px;
		line-height: 1.4em;
	}
	
	ul.dict li {
		font-size: 15px;
		line-height: 1.4em;
	  }
	  
	  table.dict td {
		font-size: 15px;
		line-height: 1.4em;
	  }
	  
	  table.dict p {
		font-size: 15px;
	  }
	  
	  table.dict td.structure {
		font-size: 15px;
		line-height: 1.4em;
	  }
	  
	  table.codes td {
		font-size: 15px;
	  }
	  
	  table.grid th {
		font-size: 15px;
	  }
	  
	  table.grid td {
		font-size: 15px;
	  }
	
	  div.sidebar h2 {
		font-size: 15px;
	  }
	  
	  div.sidebar p {
		font-size: 13px;
	  }
	  
	  div.sidebar ul {
		font-size: 13px;
	  }
	  
	  div.sidebar li {
		font-size: 13px;
	  }
	  pre.spec {
		font-size: 15px;
	  }
	  
	  pre.json {
		font-size: 15px;
	  }
	  
	  pre.rdf {
		font-size: 15px;
	  }
	  
	  pre.fhirpath {
		font-size: 13px;
	  }
	  
	  pre.graphql {
		font-size: 13px;
	  }
	  
	  pre.xml {
		font-size: 12pt;
	  }
	  
	
	  
	
	  
	  ul.navtop a {
		font-size: 15px;
	  }
	  
	  ul.navtop span {
		font-size: 15px;
	  }
	  
	  div.sidebar p.note {
		font-size: 13px;
	  }
	  
	  div.itoc p {
		font-size: 13px;
	  }
	  
	  div.itoc p.link {
		font-size: 13px;
	  }
	  
	  .hierarchy {
		font-size: 13px;
	  }
	  
	  tr.hierarchy {
		font-size: 13px;
	  }
	  
	  table.lmap th {
		font-size: 13px;
		line-height: 1.4em;
	  }
	  
	  table.lmap td {
		font-size: 13px;
	  }